In [2]:
#Librerias
import pandas as pd#Data Frame
import numpy as np#Estadisticas
import matplotlib#Graficos
%matplotlib inline
import matplotlib.pyplot as plt#Graficos
from scipy.stats import norm
from scipy import linalg#Librerias de Matematicas
from scipy.linalg import solve#resolver sistemas de ecuaciones


#Esto es para instalar librerias en este caso scipy
import sys
!{sys.executable} -m pip install scipy

Requirement already satisfied: scipy in c:\users\a\anaconda3\lib\site-packages (1.2.1)

In [3]:
#DataFrame
import pandas as pd
import numpy as np
#En el dataFrame para definir los elementos de la columna 
#necesitamos encerrar esos elementos entre corchetes,
#Para separar las columnas se utiliza la coma ','
datos = {'Nombre':['Victor','Paola','Nancy','Patricia'],
         'Calificaciones':['100','90','100','80'],
         'Deportes':['Futball','Natacion','Basquetball','Beisball'],
         'Materias':['Calculo','Algebra','Fisica','Programacion']
        }
df = pd.DataFrame(datos)
#Al imprimir el DataFrame observamos que agrega una columna del lado
#izquierdo que corresponde a los indices, con el que se van a relacionar
#estos datos
print(df,'\n'*2,datos,'\n'*2)#'\n'*2 deja dos espacios
#Nan significa not a number
df

df.info()#Para ver el detalle y objetos nulos
nuevo=pd.DataFrame(df)#Generar un dataframe nuevo
nuevo=nuevo.replace('Patricia','Jessica')#Reemplaza todos los valores
#donde aparesca patricia con Jessica
crime.index=crime['Year']#Establece una columna como indice
df.drop(['B', 'E'], axis='columns', inplace=True)#Eliminar columnas 'B', 'E'
df.drop(df.columns[[0, 2]], axis='columns')#Eliminar columnas por su indice
invoices.drop(range(1, 6, 2),axis=0)#En donde el resultado es un nuevo dataframe sin las filas 1, 3 y 5.
users.occupation.value_counts()#Devuelve una serie que contiene conteos de valores Ãºnicos.

     Nombre Calificaciones     Deportes      Materias
0    Victor            100      Futball       Calculo
1     Paola             90     Natacion       Algebra
2     Nancy            100  Basquetball        Fisica
3  Patricia             80     Beisball  Programacion

 {'Nombre': ['Victor', 'Paola', 'Nancy', 'Patricia'], 'Calificaciones': ['100', '90', '100', '80'], 'Deportes': ['Futball', 'Natacion', 'Basquetball', 'Beisball'], 'Materias': ['Calculo', 'Algebra', 'Fisica', 'Programacion']}


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
Nombre            4 non-null object
Calificaciones    4 non-null object
Deportes          4 non-null object
Materias          4 non-null object
dtypes: object(4)
memory usage: 208.0+ bytes

NameError: name 'crime' is not defined

In [ ]:
#Data Frame Estadistica
import pandas as pandas
import numpy as np

animals_df = pd.read_csv('name_archivo.csv') #leer csv
data = requests.get('https://rickandmortyapi.com/api/character')
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter='\t')
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users_columns.to_csv('CIPGJ_ordenado_limpio.csv', index=False)

animals_df.head()#Mostrar el contenido de los primeros 5 elementos
animals_df.tail()#Muestra los ultimos 5 elementos
fifa = fifa.rename(columns={'Preferred Foot': 'Preferred_Foot'})
animals_df['perro']=0#Agrega una nueva columna con el nombre perro e inicializada en 0
animals_df['bodywtkg'] = animals_df['bodywt']*0.453592 #Cada elemento de la columna se multiplica por 0.45
animals_df['suma'] = animals_df.sum(axis=1)#1 Eje filas en cada fila suma el elemento de cada columna; 0 eje columnas
animals_df['wratioif'] = np.where(animals_df['brainwt']>5, animals_df['bodywt']/animals_df['brainwt'],0)#where(condicion,valor si es verdadera,valor si es falsa)
ocupations.occupation.unique()#unique() Muestra los elementos diferentes en la columna occupation
ocupations.occupation.nunique()#unique() Muestra la cantidad de elementos diferentes en la columna occupation
chipo.groupby('item_name').sum()#Agrupa los elementos y despues los suma
vehicles_df.groupby(['Transmission'])['Highway MPG', 'City MPG'].agg(['mean','median']).head()#agg saca el promedio y la mediana
vehicles_df.groupby(['Transmission']).agg({'City MPG':'mean'}).head()#{columna,operacion que se le quiere efectuar}
vehicles_df.groupby(['Transmission']).agg({'City MPG':{'pizza Mean':'mean'}}).head()#se puede agregar columnas con mas operaciones
chipo.groupby('item_name').sum().sort_values(by=['quantity'], ascending=False)

animals_df.describe()#Estadistica solo de columnas numericas
users.describe(include = "all")#Estadistica de todo aunque no sea numerica
animals_df.dtypes#Tipo de datos que tiene el Data Frame

animals_df.std()#Valor de la deviacion estandar cada columna
animals_df.min()#Valor minimo de cada columna
animals_df.mean()#Valor de la media de cada columna
animals_df.quantile(0.25)#Percentil de 0 0.25 0.50 0.75 1
animals_df.max()#Valor maximo de cada columna
animals_df[['name_col1','name_col2']].max()#Valor maximo de columna o columnas espesificas

In [ ]:
#Data Frame
animals_df['animal']#Acceder a una columna especifica
animals_df[['animal','brainwt']]#Acceder a mas de una columna
animals_df[5:11]#acceder a las filas 5 hasta la 10
animals_df[(animals_df['bodywt']>50) & (animals_df['brainwt']>5)]#filtra todos los animales con valor bodywt > 50 y brainwt>5
animals_df.shape[1]#Si es cero da el numero de filas y si es 1 el de columnas
animals_df.columns #Nombre de las columnas
animals_df.index#Muestra la columna de indices

animals_df.sort_values(['bodywt'],ascending=True)#Ordena los datos de menor a mayor tomando en cuenta la columna bodywt
pd.DataFrame(animals_df.loc[2,:]).transpose()#muesta los datos de la segunda fila y la transpone

In [ ]:
#Se puede acceder a filas columnas o elementos pero solo utilizando numeros de indice [filas, columnas]
animals_df.iloc[:5]#Filas de la 0 a la 5
animals_df.iloc[:5,1:2]#Filas de la 0 a la 5 y columnas de la 1 a la 2

#Se puede acceder a filas columnas o elementos pero utilizando los nombres de colmnas [filas, columnas]
animals_df.loc[:5]#Es inclusivo este va de la fila 0 hasta la 5
animals_df.loc[:5, 'brainwt']#Es inclusivo este va de la fila 0 hasta la 5 en la columna brainwt pero se obtiene una serie
animals_df.loc[:5, ['brainwt', 'animal']]#Es inclusivo este va de la fila 0 hasta la 5 en la columna brainwt 
#y animal pero como enserramos las filas entre corchetes se obtiene un DataFrame

animals_df.loc[:5, 'brainwt'] > 50 #Indica cuales valores cumplen con la condicion

#En lo siguiente es importante hacerlo en dos lineas para que no se modifique el dataFrame anterior
animals2_df=animals_df.copy()#Copia un DataFrame en otro, si solo se asignara sin usar copy cualquier modificacion en
#animals2_df tambien modificara animals_df
animals2_df.loc[:5, 'brainwt'] = 50 #Modificar valores al asignarles el igual
animals2_df.head(10)

In [ ]:
#Graficas
import matplotlib
#%matplotlib inline Permite ver la grafica en jupyter notebook
%matplotlib inline
x1 = np.arange(0,10,1)
x2 = np.linspace(0,5,10)

animals_df.boxplot()#Genera un objeto grafico con intercuartiles
animals_df.hist()#Ver Histograma de frecuencias
plt.plot(x1)#genera una grafica lineal solo se le pasa un array
plt.title('todos estan crudos')#Le pone titulo al grafico
plt.legend()#Muestra todas las etiquetas label, nombres de las funciones

plt.show()#se ejecuta al final del grafico para mostrar todos sus elementos

In [ ]:
#ARRAY
#https://www.scipy.org/  #En esta pagina esta la documentacion

a = np.array([[5,6],[2,4]])#Declaracion de un array
rango = np.arange(-1,1.1,0.1)#array inicia en -1 llega hasta el 1.1 en valores que difieren por 0.1
plt.plot(rango)#dibuja una linea recta ya que toma los valores de rango

In [ ]:
import numpy

l = np.random.randint(0,10,size=(10,1))#Numero aleatorios enteros entre 0 y 10 y el tamaÃ±o es (10,1)
l=np.arange(10) #Genera una matriz con 10 elementos del 0 al 9

In [ ]:
Declarar un DataFrame (vacio)
import pandas as pd
data = pd.DataFrame(columns=('order', 'family', 'num', 'sequence'))
AÃ±adir datos al DataFrame
data.loc[len(data)]=['Tymovirales','Alphaflexiviridae',1,'AACGTTAAUGGUGAA'] 
data.loc[len(data)]=['Tymovirales','Alphaflexiviridae',2,'AACGTTAAUGGUGAA']
 

Declarar un DataFrame (con datos)
import pandas as pd
clases = ["clase 1"] * 5 + ["clase 2"] * 5
tipos = ["tipo 1"] * 2 + ["tipo 2"] * 3 + ["tipo 3"] * 2 + ["tipo 4"] * 3
valores = [0,1,2,3,4] + [5,6,7,8,9]
df = pd.DataFrame({"clase": clases, "tipo": tipos, "valor": valores})
Mostrar el Dataframe completo
print(df)

   clase    tipo    valor
0  clase 1  tipo 1      0
1  clase 1  tipo 1      1
2  clase 1  tipo 2      2
3  clase 1  tipo 2      3
4  clase 1  tipo 2      4
5  clase 2  tipo 3      5
6  clase 2  tipo 3      6
7  clase 2  tipo 4      7
8  clase 2  tipo 4      8
9  clase 2  tipo 4      9
Mostrar los 5 primeros elementos del Dataframe
print(df[:5])

     clase    tipo  valor
0  clase 1  tipo 1      0
1  clase 1  tipo 1      1
2  clase 1  tipo 2      2
3  clase 1  tipo 2      3
4  clase 1  tipo 2      4
Acceder al primer registro
 print(df.loc[1])

clase    clase 1
tipo      tipo 1
valor          1
Name: 1, dtype: object
Acceder al primer registro (otra forma)
 print(df.iloc[1])

clase    clase 1
tipo      tipo 1
valor          1
Name: 1, dtype: object
Seleccionar la columna clase
print(df['clase'])

0    clase 1
1    clase 1
2    clase 1
3    clase 1
4    clase 1
5    clase 2
6    clase 2
7    clase 2
8    clase 2
9    clase 2
Name: clase, dtype: object
Selecionar dos columnas
 print(df[['clase','tipo']])

   clase    tipo
0  clase 1  tipo 1
1  clase 1  tipo 1
2  clase 1  tipo 2
3  clase 1  tipo 2
4  clase 1  tipo 2
5  clase 2  tipo 3
6  clase 2  tipo 3
7  clase 2  tipo 4
8  clase 2  tipo 4
9  clase 2  tipo 4
Calcula la media de los valores que puede calcularse
 print(df.mean())

valor    4.5
dtype: float64
Calcula la suma de los valores que puede calcularse
 print(df.groupby('clase').sum())

         valor
clase         
clase 1     10
clase 2     35
Cuenta lo valores contables ignorando los nulos
 print(df.groupby('clase').count())

         tipo  valor
clase               
clase 1     5      5
clase 2     5      5

Transformar a lista una columna del dataframe
 print(df['clase'].tolist())

['clase 1', 'clase 1', 'clase 1', 'clase 1', 'clase 1', 'clase 2', 'clase 2', 'clase 2', 'clase 2', 'clase 2']
Ordenar valores por clase y tipo
print(df.sort_values(by=['clase','tipo'], ascending=[True,False]))
Borrar duplicados del data frame
df.loc[len(df)]=['clase 1','tipo 1',1]
df.loc[len(df)]=['clase 1','tipo 1',1]
print(df)
print(df.drop_duplicates())
Borrar duplicados de una columna
print(df['clase'].drop_duplicates().values.tolist())
Reemplazar subcadena para todos los campos de una columna
df['clase'] = df['clase'].replace({' ': ''}, regex=True)
print(df)
     clase    tipo  valor
0   clase1  tipo 1      0
1   clase1  tipo 1      1
2   clase1  tipo 2      2
3   clase1  tipo 2      3
4   clase1  tipo 2      4
5   clase2  tipo 3      5
6   clase2  tipo 3      6
7   clase2  tipo 4      7
8   clase2  tipo 4      8
9   clase2  tipo 4      9
10  clase1  tipo 1      1
11  clase1  tipo 1      1
Reemplazar subcadena para todos los campos del dataframe
df = df.replace({' ': ''}, regex=True)
print(df)

     clase   tipo  valor
0   clase1  tipo1      0
1   clase1  tipo1      1
2   clase1  tipo2      2
3   clase1  tipo2      3
4   clase1  tipo2      4
5   clase2  tipo3      5
6   clase2  tipo3      6
7   clase2  tipo4      7
8   clase2  tipo4      8
9   clase2  tipo4      9
10  clase1  tipo1      1
11  clase1  tipo1      1
Filtrar por valores de una columna
df2 = df[df['tipo'] == 'tipo1']
print(df2)

     clase   tipo  valor
0   clase1  tipo1      0
1   clase1  tipo1      1
10  clase1  tipo1      1
11  clase1  tipo1      1

Filtrar por columnas concretas del dataframe
df2 = df.filter(items=['clase', 'valor'])
print(df2)

     clase  valor
0   clase1      0
1   clase1      1
2   clase1      2
3   clase1      3
4   clase1      4
5   clase2      5
6   clase2      6
7   clase2      7
8   clase2      8
9   clase2      9
10  clase1      1
11  clase1      1


Filtar por valores de una columna que pertenezcan a un conjunto de datos
df2 = df[df['valor'].isin([3,6])]
print(df2)

    clase   tipo  valor
3  clase1  tipo2      3
6  clase2  tipo3      6

Filtar por valores que cumpla una condiciÃ³n
df2 = df[df['valor'] > 6]
print(df2)

    clase   tipo  valor
7  clase2  tipo4      7
8  clase2  tipo4      8
9  clase2  tipo4      9

UniÃ³n de dos data frames por columna
df1 = pd.DataFrame({'A1': ['A0', 'A1', 'A2', 'A3'],
'B1': ['B11', 'B12', 'B13', 'B14'],
'C1': ['C11', 'C12', 'C13', 'C14']})


df2 = pd.DataFrame({'A2': ['A0', 'A2', 'A2', 'A4'],
'B2': ['B21', 'B22', 'B23', 'B24'],
'C2': ['C21', 'C22', 'C23', 'C24']})


result = df1.merge(df2, left_on='A1', right_on='A2', how='outer')

print(result)

 A1 B1 C1 A2 B2 C2
0 A0 B11 C11 A0 B21 C21
1 A1 B12 C12 NaN NaN NaN
2 A2 B13 C13 A2 B22 C22
3 A2 B13 C13 A2 B23 C23
4 A3 B14 C14 NaN NaN NaN
5 NaN NaN NaN A4 B24 C24